doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sideBar
      a(href="/index") Read Spare Parts 
      a(href="") create Spare parts

    block content
